{% extends "base.html" %}

{% block title %}Captioner | All Images{% endblock %}
{% block content %}
<div class="d-flex flex-wrap justify-content-around">
	{% for image in images %}
	<div class="card" style="width: 18rem;">
		<a href="/img/{{ image.id }}">
			<img class="card-img-top" src="{{ image.url }}" alt="{{ image.name }}">
		</a>
		<div class="card-body">
			<p class="card-text">{{ image.created }}</p>
			<ul class="list-group list-group-flush">
				{% for caption in image.captions %}
				<li class="list-group-item">
					{{caption.text}}
					{{caption.votes}}
					{% if user.is_authenticated %}
					<button>Up</button>
					<button>Down</button>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}