{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{% static 'styles/styles.css' %}" rel="stylesheet" media="screen">
  <title>{% block title %}Captioner{% endblock %}</title>
</head>
<body>
  <nav class="nav" role="navigation">
      <a class="nav-item nav-link" href="{% url 'home' %}">Captioner Home</a>
    {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'user_images' user.username %}">{{ user.username }}'s Images</a>
      <a class="nav-item nav-link" href="{% url 'user_captions' user.username %}">My Captions</a>
      <a class="nav-item nav-link" href="{% url 'add_image' %}">Add Image</a>
      <a class="nav-item nav-link" href="{% url 'Logout' %}">Logout</a>
    {% else %}
      <a class="nav-item nav-link" href="{% url 'Login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'Register' %}">Register</a>
    {% endif %}
  </nav>
  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer mt-5 container-fluid text-center" role="contentinfo">
    <img src="{% static 'images/brand.jpg' %}" height="50" alt="">
    Captioner
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>