{% extends "base.html" %}

{% block title %}{{ user.username }}'s {{ display_type|title}}{% endblock %}
{% block content %}
<div class="d-flex flex-wrap justify-content-around">
  {% for image in images %}
  <div class="card" style="width: 18rem;">
    <a href="/img/{{ image.id }}">
    <img class="card-img-top" src="{{ image.url }}" alt="{{ image.name }}">
    </a>
    <div class="card-body">
      <p class="card-text">{{ image.created }}</p>
      <ul class="list-group list-group-flush">
        {% for caption in image.captions %}
        <li class="list-group-item">
          {{caption.text}}
          {{caption.votes}}
          {% if caption.user != user.id %}
          <button>Up</button>
          <button>Down</button>
          {% endif %}
        </li>
        <div>
          <form action="img/{{image.id}}/add_caption" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-secondary">Add Caption</button>
          </form>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}