*{
	color: #7f7f7f;
}

textarea{
	width: 100%;
	resize: none;
}

i.fas{
	color: white;
}

.caption-item{
	display: flex;
	justify-content: space-between;
}

.grid-wrap{
	.card{
		max-width: 550px;
	}

	.caption-vote{
		min-width: 125px;
		padding-left: .22em;
		margin-left: .22em;
		font-size: 1.7em;
	}
}

form.register{

	& > p{
		flex-basis: 45%;
		display: flex;
		flex-direction: column;
		padding: 1em;
	}

	& > p:first-child(1){
		flex-basis: 100%;
	}
}