*{
	color: #7f7f7f;
}

textarea{
	width: 100%;
	resize: none;
}

form.register{

	& > p{
		flex-basis: 45%;
		display: flex;
		flex-direction: column;
		padding: 1em;
	}

	& > p:first-child(1){
		flex-basis: 100%;
	}
}