{% load caption_tags %}
<li class="list-group-item caption-item">
  {{caption.text}}

  {% if user.is_authenticated %}
  <div class="caption-vote">
    {% if caption.user != user %}
    <button class="btn badge vote up-vote {% user_did_upvote caption.u_votes user %}" data-uid="{{ user.id }}" data-capt="{{ caption.id }}">
      <i class="fas fa-chevron-up"></i>
    </button>
    {% endif %}
    <div class="badge">
      {{caption.votes|floatformat:0}}
    </div>
    {% if caption.user != user %}
    <button class="btn badge vote down-vote {% user_did_downvote caption.u_votes user %}" data-uid="{{ user.id }}" data-capt="{{ caption.id }}">
    <i class="fas fa-chevron-down"></i>
    </button>
    {% endif %}
  </div>
  {% endif %}
</li>